<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playbuzz's react course</title>
</head>
<body>
<div id="app"><%- html %></div>
<script src="<%- appUrl %>"></script>

</body>
</html>
